@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

:root {
    --default-font-family: "Google Sans", sans-serif;

    --color-gray-50: oklch(97.30% 0.020 128.69);
    --color-gray-100: oklch(94.76% 0.042 130.93);
    --color-gray-200: oklch(89.63% 0.084 131.44);
    --color-gray-300: oklch(84.44% 0.122 132.09);
    --color-gray-400: oklch(79.65% 0.160 132.96);
    --color-gray-500: oklch(75.11% 0.190 134.24);
    --color-gray-600: oklch(63.68% 0.159 134.13);
    --color-gray-700: oklch(51.71% 0.126 133.96);
    --color-gray-800: oklch(39.27% 0.093 133.74);
    --color-gray-900: oklch(25.44% 0.054 133.13);
    --color-gray-950: oklch(20.97% 0.040 132.57);
}