@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

:root {
    --default-font-family: "Google Sans", sans-serif;
    --color-gray-50: oklch(0.959 0.02 62.88);
    --color-gray-100: oklch(0.919 0.042 63.79);
    --color-gray-200: oklch(0.84 0.085 62.76);
    --color-gray-300: oklch(0.765 0.125 61.02);
    --color-gray-400: oklch(0.696 0.16 55.54);
    --color-gray-500: oklch(0.614 0.145 54.54);
    --color-gray-600: oklch(0.529 0.123 55.35);
    --color-gray-700: oklch(0.43 0.098 56);
    --color-gray-800: oklch(0.324 0.07 56.61);
    --color-gray-900: oklch(0.222 0.042 60.99);
    --color-gray-950: oklch(0.153 0.025 74.28);
    --color-under-gif: #01000c;
}