@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --bg-force: rgba(196, 196, 196, .6)
}

a {
  text-decoration: none; 
  color: darkgray;
  transition: .3s;
}

a:hover {
  color: white;
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(225deg, #a35d7f, #422782);
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 1300% 1300%;
    animation: bg-anim 20s ease-in-out infinite;
}

#wave {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -999;
    opacity: 15%;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4px;
}

#avatar {
    height: 128px;
    width: 128px;
    border-radius: 100%;
    border: 3px solid var(--bg-force);
    cursor: pointer;
    transition: .3s;
}

#avatar:hover {
    height: 140px;
    width: 140px;
    border-color: rgba(138, 135, 81, .6);
}

#title {
    font-size: 2em;
    font-weight: bold;
}

#subtitle {
    color: darkgray;
}

.links {
    display: flex;
    margin: 0 8px;
    justify-content: center;
    flex-flow: row wrap;
}

.links a {
    margin: 4px;
    font-weight: bold;
    color: white
}

.icon {
    height: 21px;
    width: 21px;
}

.button {
    padding: 8px;
    background: var(--bg-force);
    border-radius: 2rem;
    transition: .3s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#boosty:hover { background: rgba(192, 60, 12, .6); }
#github:hover { background: rgba(145, 145, 145, .6); }
#mast:hover { background: rgba(109, 109, 197, 0.6); }
#telegram:hover { background: rgba(58, 118, 145, .6); }
#lastfm:hover { background: rgba(145, 58, 60, .6); }

.parallax > use {
    animation: move-forever 54s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
@keyframes move-forever {
  0% {
    transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

@keyframes bg-anim {
  0% {
      background-position: 0 100%
  }
  50% {
      background-position: 100% 0%
  }
  to {
      background-position: 0 100%
  }
}

@media (max-width: 768px) {
  .wave {
    height:40px;
    min-height:40px;
  }
}